.calc {
  padding: 10px;
}

.calc-section + .calc-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid black;
}

.header {
  margin: 0 0 20px;
}

.col-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 -5px;
} 

.col {
  padding: 0 5px;
}

.col:first-child {
  width: 66.666666%;
}

.col:last-child {
  width: 33.333333%;
}

.tip {
  padding: 10px;
  border: 1px solid black;
  background: yellow;
}

form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 -5px;
}

input {
  /* padding: 5px;
  border: 1px solid black;
  font-size: 14px; */
}

button {
  /* font-size: 14px;
  padding: 5px 10px;
  line-height: 1;
  border: 1px solid black;
  cursor: pointer; */
}

.input-item {
  padding: 0 5px;
}

.input-item__label {
  font-size: 12px;
  margin-bottom: 5px;
  min-height: 16px;
}

input-item label span {
  display: inline-block;
}

.input-item + .input-item {
  
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 10px;
}

td, th {
  border: 1px solid black;
  padding: 5px;
}

th {
  background: grey;
}

tr:nth-child(even) td {
  background: lightgrey;
}